/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/* Подключаемый шрифт*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*--------------------*/
.header__svg {
	display: flex;
	justify-content: space-between;
	padding: 2% 5%;
}
body {
	background-color: #000;
}
body.lock {
	overflow: hidden;
}
.header {
	position: fixed;
	width: 100%;
	top: -90px;
	left: 0;
	z-index: 50;
}
.header__body {
	position: relative;
	top: 185px;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__menu {
	position: relative;
	width: 75%;
	height: 68px;
	left: 12.5%;
	border-bottom: 3px solid #ffe4b5;
	border-top: 3px solid #ffe4b5;
}
.header__burger {
	display: none;
}
.header__list {
	display: flex;
	justify-content: center;
	padding-top: 1%;
}
.header__list li {
	margin: 0 30px 0 30px;
	z-index: 3;
}
.header__link {
	text-decoration: none;

	font-family: "Roboto", sans-serif;
	font-size: 42px;
	text-align: left;
	color: #ffe4b5;
}
@media (max-width: 767px) {
	.header__svg {
		display: none;
	}
	.header__list {
		display: block;
		& li {
			padding: 0 0 20px 10px;
		}
	}
	.header__body {
		height: 50px;
	}
	.header__burger {
		margin: -90px 0 0 85%;
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger span {
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		top: 9px;
		width: 100%;
		height: 2px;
	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		padding: 70px 0 0 0;
		transition: all 0.3s ease;
		overflow: auto;
	}
	.header__link {
		font-size: 45px;
	}
	.header__menu.active {
		top: 0;
		transition: all 0.3s ease;
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
		transition: all 0.3s ease;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
		transition: all 0.3s ease;
	}
	.header__burger.active span {
		transform: scale(0);
	}
}
.section {
	display: flex;
	justify-content: center;
	align-items: center;
}
.page {
	max-width: 812px;
	max-height: 1021px;
	background: url("../images/logo.png") 50% 4% /250px 180px no-repeat,
		url("../images/bg/bg__1.png") 0 0 /100% auto no-repeat;

	& p {
		margin: 0 auto;
		padding-top: 610px;
		max-width: 530px;
		font-family: "Roboto", sans-serif;
		font-size: 17px;
		text-align: center;
		color: #fefefd;
	}
}
@media (max-width: 767px) {
	.section {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.page {
		max-width: 812px;
		max-height: 1021px;
		background: url("../images/logo.png") 50% 4% /250px 180px no-repeat,
			url("../images/bg/bg__1.png") 0 0 /100% auto no-repeat;

		& p {
			margin: 0 auto;
			padding-top: 75%;
			max-width: 530px;
			font-family: "Roboto", sans-serif;
			font-size: 17px;
			text-align: center;
			color: #fefefd;
		}
	}
}
.block1 {
	background: url("../images/bg/bg__2.png") 0 0 /100% auto no-repeat;
	padding-bottom: 243px;
}
.block1_1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 639px;
	max-height: 396px;
	margin: 0 auto;
}
.block1__title {
	padding: 284px 0 130px 0;
	font-family: "Roboto", sans-serif;
	font-size: 75.5px;
	font-weight: 300;
	text-align: center;
	color: #ffe4b5;
}
.block1__text {
	font-family: "Roboto", sans-serif;
	font-size: 15.5px;
	text-align: center;
	color: #fff;
}
.block1__subtitle {
	padding: 100px 0px 0 0;
	font-family: "Roboto", sans-serif;
	font-size: 59.5px;
	font-weight: 300;
	text-align: center;
	color: #ffe4b5;
}
@media (max-width: 767px) {
	.block1 {
		background: url("../images/bg/bg__2.png") 0 0 /100% 100% no-repeat;
	}
}
.block2 {
	background: url("../images/bg/bg__3.png") 0 0 /100% auto no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.block2__text {
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	text-align: center;
	color: #fffdfd;
	padding: 50px 0 504px 0;
}
.block2__men {
	font-family: "Roboto", sans-serif;
	font-size: 72px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #fcfafa;
	padding-bottom: 81px;
}
.block2__submenu {
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	text-align: center;
	color: #fcfafa;
	padding-bottom: 83px;
}
@media (max-width: 767px) {
	.page {
		padding: 0;
		margin: 5%;
	}
	.block1 {
		padding: 0;
		margin: 5%;
	}
	.block1__subtitle {
		display: none;
		padding: 0;
		margin: 5%;
	}
	.block2 {
		background: url("../images/bg/bg__3.png") 0 0 /100% auto no-repeat;
		padding: 0;
		margin: 5%;
	}
	.block2__text {
		padding: 0px;
		margin: 5%;
	}
	.block2__men {
		padding: 0;
		margin: 5%;
	}
	.block2__submenu {
		padding: 0px 0 200px 0;
		margin: 5%;
	}
}
.menu {
	background: url("../images/bg/bg__4.png") 0 0 /100% auto no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 00px;
}

.menu__list li {
	font-family: "Roboto", sans-serif;
	font-size: 28px;
	text-align: center;
	color: #fcfbf9;
	padding-bottom: 30px;

	&:first-child {
		padding-bottom: 50px;
		font-family: "Roboto", sans-serif;
		font-size: 42px;
		text-align: center;
		color: #ffe4b5;
	}
}
.menu__specialies {
	padding-top: 100px;
}
.menu__drink {
	padding-top: 100px;
}
.block3 {
	background: url("../images/bg/bg__5.png") 0 0 /100% auto no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.block3__title {
	padding: 300px 0 58px 0;
	font-family: "Roboto", sans-serif;
	font-size: 94px;
	font-weight: 500;
	margin: 0 auto;
	text-align: center;
	color: #ffe4b5;
	max-width: 300px;
}
.block3__text {
	padding-bottom: 300px;

	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	color: #fdfdfd;
}
.burger {
	margin-top: -10%;
	background: url("../images/bg/bg__6.png") 0 0 /100% auto no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.burger__title {
	font-family: "Roboto", sans-serif;
	font-size: 58px;
	text-align: center;
	color: #ffe4b5;
	padding-bottom: 565px;
}
.burger__text {
	font-family: "Roboto", sans-serif;
	font-size: 58px;
	text-align: center;
	color: #ffe4b5;
	max-width: 276px;
	margin: 0 auto;
}
.block4 {
	background: url("../images/bg/bg__7.png") 0 0 /100% auto no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.block4__subtitle {
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	text-align: center;
	color: #fffffe;
	padding: 187px 0 150px 0;
	max-width: 530px;
	margin: 0 auto;
}
.block4__text {
	font-family: "Roboto", sans-serif;
	font-size: 45px;
	text-align: center;
	color: #fbfaf8;
}
.block4__subtext {
	font-family: "Roboto", sans-serif;
	font-size: 58px;
	font-weight: 500;
	text-align: center;
	color: #ffe4b5;
	padding: 50px 0 170px 0;
}
.block4__title {
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	text-align: center;
	color: #fffffe;
	max-width: 1094px;
	margin: 0 auto;
}
.footer {
	padding-top: 126px;
	height: 456px;
}
.footer__thanks {
	font-family: "Roboto", sans-serif;
	font-size: 57px;
	text-align: center;
	color: #fefdfc;
	padding-bottom: 125px;
}
.footer__messange {
	text-align: center;
}
.footer__copy {
	font-family: "Roboto", sans-serif;
	font-size: 28px;
	text-align: center;
	color: #ffe4b5;
	padding: 50px 0 28px 0;
}
.footer__text {
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	text-align: center;
	color: #fefdfc;
}
.header__svg {
}
